#!/bin/bash

# linker
junopie_link_slot=1
rogue_link_slot=2
bard_link_slot=3
ms_link_slot=4
killing_link_slot=5

#prof
junopie_prof_slot=5
ms_prof_slot=4
killing_prof_slot=3
champ_prof_slot=2
hunt_prof_slot=1

#alch

# roles
linker="Light-the-Star"
ms="all-about-zeny"
bard="Clampsi"
prof="Naoo"

# role checker
check_for_role() {
  local role={$1:-"None"}
  case "$role" in
  "ms")
    ROLE_NAME=$ms
  ;;
  "linker")
    ROLE_NAME=$linker
  ;;
  "bard")
    ROLE_NAME=$bard
  ;;    
  "prof")
    ROLE_NAME=$prof
  ;;
  esac
  local _WINDOW=`hyprctl clients -j | jq -r '.[] | select(.class == "steam_proton") | select(.title | test("$ROLE_NAME")) | .workspace.id'`
  echo "$_WINDOW"
}