#!/bin/bash

# global
local max_visible_slots=5

# linker
crus_link_slot=1
killing_link_slot=2
ms_link_slot=3
bard_link_slot=4
rogue_link_slot=5
junopie_link_slot=6

#prof
crus_prof_slot=7
hunt_prof_slot=6
champ_prof_slot=5
killing_prof_slot=4
ms_prof_slot=3
junopie_prof_slot=1
abra_prof_slot=2

#alch

# roles
linker="Light-the-Star"
ms="all-about-zeny"
bard="Clampsi"
prof="Naoo"

# role checker
check_for_role() {
  local role=${1:-"None"}
  case "$role" in
  "ms")
    ROLE_NAME=$ms
  ;;
  "linker")
    ROLE_NAME=$linker
  ;;
  "bard")
    ROLE_NAME=$bard
  ;;    
  "prof")
    ROLE_NAME=$prof
  ;;
  esac
  local _WINDOW=$(hyprctl clients -j | jq --arg role "$ROLE_NAME" -r '.[] | select(.class == "steam_proton") | select(.title | test($role)) | .workspace.id')
  echo "$_WINDOW"
}

RERUN=false

check_for_bot() {
  BOT_WINDOW=`hyprctl activeworkspace -j | jq '.id'`
  # Find processes matching the script name, excluding the current process
  previous_pids=$(pgrep -f "warp_and_move.sh" | grep -v "$$")

  if [[ -n "$previous_pids" ]]; then
    RERUN=true
    RERUN_TP=true

    echo "Killing previous instances (PIDs: $previous_pids)"
    kill $previous_pids

  fi

  previous_pids=$(pgrep -f "warp_and_move_on_spot.sh" | grep -v "$$")

  if [[ -n "$previous_pids" ]]; then
    RERUN=true
    RERUN_SPOT=true

    echo "Killing previous instances (PIDs: $previous_pids)"
    kill $previous_pids

  fi

  previous_pids=$(pgrep -f "abys-on-timer.sh" | grep -v "$$")

  if [[ -n "$previous_pids" ]]; then
    RERUN=true
    RERUN_ABYSS=true

    echo "Killing previous instances (PIDs: $previous_pids)"
    kill $previous_pids

  fi

}

call_the_bot(){
  if [[ "$RERUN" == "true" ]]; then
      local YD_KEY=$((1+($BOT_WINDOW)))
      WINDOW=`hyprctl activeworkspace -j | jq '.id'`

      if [[ (( "$WINDOW" -ne $BOT_WINDOW )) ]]; then
        echo "alt + tab to bot: $(date)"
        ydotool key 125:1 $((YD_KEY)):1 125:0 $((YD_KEY)):0
        sleep 0.3
      fi
    if [[ "$RERUN_TP" == "true" ]]; then
      bash -c /home/tori/Games/warp_and_move.sh &
    elif [[ "$RERUN_SPOT" == "true" ]]; then
      bash -c /home/tori/Games/warp_and_move_on_spot.sh &
    elif [[ "$RERUN_ABYSS" == "true" ]]; then
      bash -c /home/tori/Games/abys-on-timer.sh &
    fi
  fi
}

get_real_slot(){
  local slot=$1
  local newSlot=$1
    ydotool mousemove --absolute -x 423 -y 236
  if [[ (( $slot > $max_visible_slots ))]]; then
    ydotool mousemove --wheel -x 0 -y -10
    newSlot=(($slot - $max_visible_slots))
  else
    ydotool mousemove --wheel -x 0 -y 10
  fi
  echo $newSlot
}